---
layout: main

# project descriptions...
ar-molecule: &ar-molecule-desc >
    <p>An augmented reality mobile app with 3D molecule structures.
      It's implemented for Android devices using the
      <a href="http://www.wikitude.com/">Wikitude</a> SDK. Most of
      the code should equally be as applicable to an iOS app through
      the magic of <a href="http://phonegap.com/">PhoneGap</a>.</p>

molecules3d: &molecules3d-desc >
    <p>3D molecule structure visualisation with <a href="threejs.org">three.js</a>.
      This is a work in progress. I hope to eventually be able to search for a
      compound and have it determine and render its 3D representation. For now
      you can enjoy a spinning 3D caffeine molecule!</p>

webaudioviz: &webaudioviz-desc >
    <p>Some experimental music visualisers created in the browser by making use
      of the <a href="http://www.w3.org/TR/webaudio/">Web Audio API</a> and its
      real-time analysis capabilities. You can see a couple of examples of the
      visualisers <a href="http://ianreah.com/audio-visualizer-experiments/">on
      this page</a>, (I may come back and add some more), or
      <a href="http://ianreah.com/2013/02/28/Real-time-analysis-of-streaming-audio-data-with-Web-Audio-API.html">
      read the blog post</a> to find out more about how they work.</p>

placeholder: &placeholder-desc >
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
      ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
      sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
      odio dui.</p>


top3-projects:
  - name: AR-Molecule
    url: /2013/08/11/Augmented-Reality-with-JavaScript-Part-2.html
    img-url: img/project_ar_molecule.jpg
    call-to-action: Find out more
    description: *ar-molecule-desc
  - name: Molecules3D
    url: http://molecules3d.apphb.com/
    img-url: img/project_molecules3d.png
    call-to-action: See it in action
    description: *molecules3d-desc
  - name: WebAudioViz
    url: /audio-visualizer-experiments/
    img-url: img/project_audio_visualizer_experiments.png
    call-to-action: Find out more
    description: *webaudioviz-desc

next3-projects:
  - name: jsFrames
    url: /jsFrames/
    img-url: img/project_jsframes.png
    call-to-action: Find out more
    description: *placeholder-desc
  - name: MockStock
    url: http://mockstock.apphb.com/
    img-url: img/project_mockstock.png
    call-to-action: Find out more
    description: *placeholder-desc
  - name: CoverFlow
    url: /CoverFlow/
    img-url: img/project_coverflow.png
    call-to-action: Find out more
    description: *placeholder-desc
---

<div class="row-fluid">
  {% for project in page.top3-projects %}
    {% include project %}
  {% endfor %}
</div>
<div class="row-fluid">
  {% for project in page.next3-projects %}
    {% include project %}
  {% endfor %}
</div>